<!doctype html>
<html>
<head>
	<title>@ViewData["Title"]</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Official Signup Form Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- fonts -->
	<link href="//fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
	<!-- /fonts -->
	<!-- css -->
	<link href="~/css2/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
	<link href="~/css2/style.css" rel='stylesheet' type='text/css' media="all" />
	<!-- /css -->
</head>
<body>
	<h1 class="w3ls">@ViewData["Title"]</h1>
	<div class="content-w3ls">
		<div class="content-agile1">
			<h2 class="agileits1">Official</h2>
			<p class="agileits2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		</div>
		<div class="content-agile2">
			@RenderBody()
		</div>
		<div class="clear"></div>
	</div>

</body>
</html>